@charset "UTF-8";



@font-face {
    font-family: 'KyoboHandwriting2019';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

.container {
	 display: flex;
 	 justify-content: center;
}

.title {
	display: inline-block;
	margin-top: 240px;
	text-align: center;
	height: 450px;
	border: 4px inset skyblue;
	border-radius: 20px;
}

#title_img1, #title_img2 {	
	width: 300px;
	height: 150px;
}

#title_text1,  #title_text2{
	font-family: "KyoboHandwriting2019";
}

#title_text1 {
	margin-top: 20px;
	font-size: 40px;
}
#title_text2 {
	font-size: 30px;
}

.mapbody{
	float: left;
}