<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="question">
	<select id="list" resultType="com.ict.project.vo.QuestionVO">
		select * from question where q_active = 0
	</select>
	
	<select id="detail" parameterType="com.ict.project.vo.QuestionVO" resultType="com.ict.project.vo.QuestionVO">
		select * from question where q_idx = #{q_idx}
	</select>
	
	<insert id="insert" parameterType="com.ict.project.vo.QuestionVO">
		insert into question(q_title, q_content) 
		values (#{q_title}, #{q_content})
	</insert>
	
	<update id="delete" parameterType="com.ict.project.vo.QuestionVO">
		update question set q_active = 1
		where q_idx = #{q_idx}
	</update>
	
	<update id="update" parameterType="com.ict.project.vo.QuestionVO">
		update question 
		set q_title=#{q_title}, q_content=#{q_content} 
		where q_idx=#{q_idx}
	</update>
</mapper>