<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="tour">
	<insert id="insert" parameterType="list">
	    INSERT INTO tboard (b_title, b_content, b_img, b_url, b_theme, b_lat, b_lon, b_time) 
	    VALUES
	    <foreach collection="list" item="item" separator=",">
	        (#{item.b_title}, #{item.b_content}, #{item.b_img}, #{item.b_url}, #{item.b_theme}, #{item.b_lat}, #{item.b_lon}, #{item.b_time})
	    </foreach>
	</insert> 		
	
	<select id="list"  resultType="com.ict.project.vo.TboardVO">
    	select * from tboard  
  	</select>

    <select id="count" resultType="int">
    	<!-- select count(*) from tboard where b_like_active = 0 -->   
    	select count(*) from tboard 
    </select>
		
	<select id="listpage" parameterType="map" resultType="com.ict.project.vo.TboardVO">
     	select * from tboard order by b_idx desc limit #{limit} offset #{offset}      
    </select>
    
    
    
    <!-- ========================= 테스트용 =============================== -->
    
    <select id="testlist"  resultType="com.ict.project.vo.TdetailVO">
    	select * from testdetail where d_title = #{area}
  	</select>
  	
    <select id="comment"  resultType="com.ict.project.vo.TcommnetVO">
    	select * from testcomments where detail_board = #{detail_board}
  	</select>
  	
  	<insert id="insertcomment" parameterType="com.ict.project.vo.TcommnetVO">
	    insert into testcomments (detail_board, com_img, com_id, com_time, com_text) 
	    values(#{detail_board}, #{com_img}, #{com_id}, now(), #{com_text})
	</insert> 	
  	
    <select id="locallist"  resultType="com.ict.project.vo.TdetailVO">
    	select * from testdetail where d_local = #{local}
  	</select>
  	
		
</mapper>
